@include responsive_mobile{
    .project-banner{
        &-title{
            padding-top:2rem;
            font-size: 2.6rem;
            line-height: 4rem;
            min-height: 6rem;
        }
    }
    .project-implementation{
        &-all{
            display: block;
            &__heading--text1{
                font-size: 2.6rem;
            }
            &__heading--text1{
                font-size: 2.6rem;
            }
            &__option{
                margin-top: 2rem;
                width: 100%;
            }
        }
        &-hover__describe--text-name{
            line-height: 2rem;
        }
    }
}

@include responsive_tablet{
    .project-implementation{
        margin-top: 2rem;
        &-all{
            text-align: center;
            display: block;
            &__heading--text1{
                font-size: 2.6rem;
            }
            &__heading--text2{
                font-size: 2.6rem;
            }
            &__option{
                width: 100%;
                margin: 2rem 0;
            }
        }
    }
}

@include responsive_pclow{
    .project-implementation-hover__describe--text{
        line-height: 2rem;
    }
}


@include responsive_pcmedium{
    .project-implementation-hover__describe--text{
        line-height: 2rem;
    }
}