@include responsive_mobile{
    .home-content{
        margin-top: 2rem;
        margin-bottom:4rem;
        padding: 0rem 0rem;
        &-image__top{
            display: none;
        }
        &-image__bottom{
            display: none;
        }
        &-heading{
            text-align: center;
        }
        &-sub{
            text-align: center;
        }
    }
    .service-content{
        &-heading__title{
            font-size: 2.6rem;
        }
        &-describe__text--name{
            font-size: 2.6rem;
        }
        &-hover{
            padding: 5rem 2rem;
        }
        &-hover__title{
            font-size: 2.6rem;
            text-align: center;
        }
    }

    .design-content{
        &-title__text{
            font-size: 2.6rem;
        }
        &-sub__text{
            font-size: 2.6rem;
            line-height: 4rem;
        }
        &-describe__text{
            line-height: 2.6rem;
        }
        &-logo{
            display: none;
        }
        &-slider{
            padding-left: 0%;
        }
    }

    .house-content{
        height: 100%;
        margin-top: 10rem;
        &-title{
            display: flex;
            justify-content: center;
            &__project{
                display: none;
            }
            &__text--one{
                font-size: 2.6rem;
            }
            &__text--two{
                font-size: 2.6rem;
            }
        }
        &-rise{
            position: unset !important;
        }
        &-title__text{
            padding: 2rem 0;
            text-align: center;
        }
        &-hover__more{
            padding-bottom: 3rem;
        }
    }
    .advise-content{
        &-right{
            padding: 0rem 0rem;
            &__amount--number{
                font-size: 5rem;
                line-height: 2rem;
            }
            &__title--text{
                font-size: 2.6rem;
                line-height: 3rem;
                margin: 0rem 0;
            }
            &__describe--text{
                font-size: 2.2rem;
            }
            &__describe{
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }
    }
    .show-white{
        width: 22rem;
        height: 4rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .close{
        width: 4rem;
        height: 4rem;
    }
    .popup{
        width: 35rem;
        height: 50rem;
    }
    .popup-title-text{
        font-size: 2rem;
    }

    .popup-form input{
        height: 3.6rem;
        font-size: 2rem;
    }
    
    .popup-form .popup-seclect{
        height: 3.6rem;
        font-size: 2rem;
    }

    .popup-form .popup-seclect-label{
        line-height: 2rem;
    }

    .popup-form .popup-form-btn{
        line-height: 1rem;
        margin: 3rem auto;
    }

    .believe-content {
        &-heading{
            &__text{
                font-size: 2.6rem;
            }
        }
        &-describe{
            &__text{
                font-size: 2.6rem;
            }
        }
    }
    .question-content{
        padding: 0 3rem;
        &-heading__title{
            font-size: 2.6rem;
        }
        &-list__item--link a{
            line-height: 3rem;
        }
        &-list__item--link::before{
            left: 1rem;
            margin-top: 1.2rem;
        }
    }
    .modal-form .modal-seclect-label{
        line-height: 2.4rem;
        font-size: 1.6rem;
        margin: 0rem 0rem;
    }
    .modal-title-text{
        font-size: 1.6rem;
        margin: 1.2rem auto;
        line-height: 2rem;
    }
    .modal-form input{
        height: 3rem;
        font-size: 1.6rem;
    }
    .modal-form .modal-seclect{
        height: 3rem;
        font-size: 1.6rem;
    }
    .modal-form .modal-form-btn{
        margin: 2rem auto;
        line-height: 2rem;
    }
}

@include responsive_tablet{
    .design-content{
        &-title__text{
            font-size: 2.6rem;
        }
        &-sub__text{
            font-size: 2.6rem;
            line-height: 4rem;
        }
        &-describe__text{
            line-height: 2.6rem;
        }
        &-logo{
            display: none;
        }
        &-slider{
            padding-left: 0%;
        }
    }

    .service-content{
        &-heading__title{
            font-size: 2.6rem;
        }
        &-describe__text--name{
            font-size: 2.6rem;
        }
        &-hover{
            padding: 5rem 2rem;
        }
        &-hover__title{
            font-size: 2.6rem;
            text-align: center;
        }
    }

    .home-content{
        margin-top: 2rem;
        margin-bottom:4rem;
        padding: 0rem 0rem;
        &-image__top{
            display: none;
        }
        &-image__bottom{
            display: none;
        }
        &-heading{
            text-align: center;
        }
        &-sub{
            text-align: center;
        }
    }
    .advise-content{
        &-right{
            padding: 0rem 0rem;
            &__amount--number{
                font-size: 5rem;
                line-height: 2rem;
            }
            &__title--text{
                font-size: 2.6rem;
                line-height: 3rem;
                margin: 0rem 0;
            }
            &__describe--text{
                font-size: 2.2rem;
            }
            &__describe{
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }
    }

    .show-white{
        width: 22rem;
        height: 4rem;
        font-size: 1.6rem;
        bottom: 1rem;
        margin-bottom: 2rem;
    }

    .close{
        width: 4rem;
        height: 4rem;
    }
    .popup{
        width: 40rem;
        height: 50rem;
    }
    .popup-title-text{
        font-size: 2rem;
    }

    .popup-form input{
        height: 3.6rem;
        font-size: 2rem;
    }
    
    .popup-form .popup-seclect{
        height: 3.6rem;
        font-size: 2rem;
    }

    .popup-form .popup-seclect-label{
        line-height: 2.5rem;
    }

    .popup-form .popup-form-btn{
        line-height: 1rem;
        margin: 3rem auto;
    }

    .house-content{
        height: 100%;
        margin-top: 10rem;
        &-title{
            display: flex;
            justify-content: center;
            &__project{
                display: none;
            }
            &__text--one{
                font-size: 2.6rem;
            }
            &__text--two{
                font-size: 2.6rem;
            }
        }
        &-rise{
            position: unset !important;
        }
        &-title__text{
            padding: 2rem 0;
            text-align: center;
        }
        &-hover__more{
            padding-bottom: 3rem;
        }
    }

    .modal-form .modal-seclect-label{
        line-height: 2rem;
    }

    .modal-title-text{
        font-size: 1.6rem;
        margin: 1.2rem auto;
        line-height: 2rem;
    }
    .modal-form input{
        height: 3rem;
        font-size: 1.6rem;
    }
    .modal-form .modal-seclect{
        height: 3rem;
        font-size: 1.6rem;
    }
    .modal-form .modal-form-btn{
        margin: 2rem auto;
        line-height: 2rem;
    }

    .question-content{
        padding: 0 3rem;
        &-heading__title{
            font-size: 2.6rem;
        }
        &-list__item--link a{
            line-height: 3rem;
        }
        &-list__item--link::before{
            left: 1rem;
            margin-top: 1.2rem;
        }
    }
}

@include responsive_pclow{
    .info{
        h3{
            padding-top: 0rem;
        }
    }
    .service-content-hover{
        padding: 3rem;
    }
    .service-content-hover__title{
        line-height: 3rem;
    }
    .question-content-list{
        padding: 0 2rem;
    }
    .design-content-logo{
        display: none;
    }
    .design-content-slider{
        padding-left: 0%;
    }
    .Modern-Slider .img-fill h3{
        padding-top: 0rem;
        font-size: 3rem;
    }
    .Modern-Slider .img-fill p{
        font-size: 1.2rem;
    }
    .home-content-image__bottom{
        right: 2rem;
    }
    .advise-content{
        margin-top: 26rem;
    }
    .advise-content-right__amount--number{
        font-size: 7.7rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        line-height: 4rem;
    }
    .advise-content-right__title--text {
        font-size: 2.6rem;
        line-height: 4rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .advise-content-right__describe {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .advise-content-right__describe--text {
        font-size: 2.6rem;
        line-height: 4rem;
    }
    .question-content-list__item--link::before{
        left: 1rem;
    }
    .show{
        width: 20rem;
        height: 3.5rem;
        font-size: 1.2rem;
    }
    .advise-content-color{
        height: 32rem;
    }
    .show-white{
        bottom: 3rem;
    }
}

@include responsive_pcmedium{
    .Modern-Slider .img-fill h3{
        padding-top: 6rem;
    }
    .home-content-image__bottom{
        right: 2rem;
    }
    .service-content-describe__text--name{
        font-size: 2rem;
    }
    .design-content{
        margin-top: 3rem;
        &-logo{
            width: 30%;
            left: 0;
        }
        &-slider{
            padding-left: 29%;
        }
    }
    .house-content-title__text--one{
        font-size: 3.6rem;
    }
    .house-content-title__text--two{
        font-size: 3.6rem;
    }
    .advise-content{
        &-right{
            &__amount{
                &--number{
                    font-size: 6rem;
                    line-height: 3rem;
                }
            }
            &__title{
                &--text{
                    font-size: 2.6rem;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }
            }
            &__describe{
                margin-top: 2rem;
                margin-bottom: 1rem;
                &--text{
                    font-size: 2.2rem;
                }
            }
        }
    }
    .question-content-list__item{
        padding-left: 1rem;
    }
    .question-content-list__item--link::before{
        left: 1rem;
    }
    .advise-content-color{
        height: 36rem;
    }
}
