$color-black:#000;
$color-white: #fff;
$color-header-hover:#f1d52b;
$color-header-boxshadow:#858585;
$color-background-service:#0000003b;
$color-border-service:#f7df37;
$color-hover-service:#ffde00cc;
$color-hover-title-service:#8a3333;
$color-design-text:#b3b5b5;
$color-design-slider:#818181;
$color-house:#fae037;
$color-house-project:#d2d2d2;
$color-house-hover:#000000bd;
$color-house-title:#e2c81f;
$color-advise:#f6f6f6;
$color-model-close: #8f8220;
$color-model-hover-close: #333;
$color-furniture-heading:#d9d9d9;
$color-funiture-care:#e9ce30;
$color-funiture-care-refer: #dc3232;
$color-furniture-parameter: #ffc410;